body {
	color: #F68743;
	font-family: 'Oswald', sans-serif;
	width: 95%;
  text-align: left;
	margin: 0 auto;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul {
   list-style-type:none;
   margin: 0 auto;
   list-style:none;
   padding:0;
}

li {
  list-style:none;
}

button {
      width: 150px;
      font-size: 20px;
      margin:12px 0;
      padding: 10px 0;
      background-color: #77A6AB;
      color: #fff;
      font-family: 'Oswald', sans-serif;
	  -webkit-border-radius: 1000px;
      border-radius: 1000px;
      outline: none;
      border: none;
      border-radius: 8px;
}

button:active {
      background-color: #77A6AB;
}

.clickStyle {
      background-color: #C8D1B0;
}

img {
  width = 100px;
  height = 100px;
}

.column{
  float: left;
  padding: 10px;
}